/* universal settings */
*,*::before,*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* outline: 1px dashed #ffff20; */
}

:root {
  --primary-color: ##fff; /* Example primary blue color */
  --secondary-color: #23374D; /* Example secondary gray color */
  --success-color: #28a745; /* Example success green color */
  --danger-color: #dc3545; /* Example danger red color */
  --text-color-dark: #333; /* Example dark text color */
  --text-color-light: #fff; /* Example light text color */
}
body {
  min-height: 100dvh;
  background-color: var(--primary-color);
  color: var(--text-color-dark);
}

h1 {
  color: var(--secondary-color);
}

.button-success {
  background-color: var(--success-color);
  color: var(--text-color-light);
}

/* Navbar styling for Login and Sign-Up on the right */
.navbar-nav.nav-pills {
  gap: 0.5rem;
}

/* Navbar logo styling */
.navbar-logo {
  height: 50px;
  width: auto;
  max-width: 200px;
}

/* Projects Grid */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
}